body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; 
}

header {
    background-color: #d0c27a;
    color: black;
    padding: 50px 75px 75px;
    border-radius: 5px;
}

header h1 {
    margin-left: 150px;
    padding: 0px;
}

header::after {
    content: "";
    display: block;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 95px;
    left: 1050px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
    background-color: rgb(255, 213, 154);
    padding: 25px 25px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: grey;
}

section p {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 20px;
    width: 300px; 
    float: left;
    margin-left: 10%; 
    clear: both;
    display: block;
    margin-top: 150px; 
    border-radius: 10px; 
}

section h2 {
        background-color: rgba(211, 211, 211, 0.8); 
    padding: 20px;
    width: 130px; 
    float: left;
    display: block;
    clear: both;
    margin-left: 140px; 
}

section h3 {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 200px;
    width: 130px; 
    float: left;
    display: block;
    clear: both;
    margin-left: 140px; 
}


section h4{
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 150px;
    width: 130px; 
    float: right;
    display: block;
    clear: both;
    margin-left: 140px; 
}

section h5 {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 100px;
    width: 130px; 
    float: left;
    display: block;
    clear: both;
    margin-left: 140px; 
}
section h6 {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 250px;
    width: 130px; 
    float: left;
    display: block;
    clear: both;
    margin-left: 140px; 
}


#Home {
    position: relative;
    height: 150vh; 
    overflow: hidden; 
}

#Home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1;
}

.about-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/1000006798.jpg');
    background-size: cover;
    background-position: center;
}

.projects-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/PHOTO-2024-04-17-22-34-16.jpg');
    background-size: cover;
    background-position: center;
}

.contact-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/1000006799.jpg');
    background-size: cover;
    background-position: center;
}



footer {
    background-color: beige;
    padding: 20px;
}
