/* Retrieved from earlier lab work, as a base design */

body {
    width: 700px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: lightgrey;
}

header h1 {
    height: 80px;
    line-height: 80px;
}

nav {
    background-color: darkgrey;
    text-align: left;
    padding: 10px;
    float: right;
}

nav a {
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgrey;
    color: black;
}

section {
    text-align: center;
    background-color: white;
    float: right;
    width: 500px;
    margin: 10px;
    padding: 15px;
}

section h2 {
    text-align: center;
    color: black;
    width: 500px;
    padding: 15px;
    clear: both;
}

section p {
    text-align: left;
    color: black;
    padding: 15px;
}

footer {
    text-align: center;
    background-color: darkgrey;
    clear: both;
}

footer a {
    color: white;
    text-align: center;
    text-decoration: none;
}

p {
    margin: 0px 10px 10px;
}
